# SISGET FRONTEND - Environment Variables Template

# [ API ]
# URL do backend Spring Boot
NEXT_PUBLIC_API_URL=http://localhost:8080/api

# [ Auth ]
NEXTAUTH_SECRET=sua_chave_secreta_nextauth
NEXTAUTH_URL=http://localhost:3000

# [ Mode ]
NODE_ENV=development
